
*{
    font-family: 'JetBrains Mono';
}

body, html {
    background-color: #2f2f2f;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    text-align: center;
}

.main h1{
    font-size: 32px;
}

.main h2{
    font-size: 30px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
}

.button {
    margin-bottom: 10px;
    background-color: rgba(128, 128, 128, 0.756);
    border-radius: 13%;
    width: 160px;
    height: 50px;
    color: #FFF;
	text-shadow: 0 1px 2px rgba(0,0,0,0.75);
	background: #B3A369;
	outline: none;
	border-radius: 15px;
	border: 1px solid #85794f;
	box-shadow:
		inset 1px 1px 0px rgba(255,255,255,0.25), /* highlight */
		inset 0 0 6px #B3A369, /* inner glow */
		inset 0 80px 80px -40px #B3A369, /* gradient */
		1px 1px 3px rgba(0,0,0,0.75); /* shadow */

	position: relative;
	overflow: visible; /* IE9 & 10 */
	-webkit-transition: 500ms linear;
	-moz-transition: 500ms linear;
	-o-transition: 500ms linear;
	transition: 500ms linear;
}


.button:hover {
	background: #B3A369;
	text-shadow: 0 1px 2px rgba(0,0,0,0.75), 0 0 40px #FFF;
	box-shadow:
		inset 1px 1px 0px rgba(255,255,255,0.25), /* highlight */
		inset 0 0 6px #B3A369, /* inner glow */
		inset 0 80px 80px -40px #B3A369, /* gradient */
		1px 1px 3px rgba(0,0,0,0.75); /* shadow */

}

.button:focus {
	outline: none; /*FF*/
}

.button:active {
	box-shadow:
		inset 1px 1px 0px rgba(255,255,255,0.25), /* highlight */
		inset 0 0 6px #B3A369, /* inner glow */
		inset 0 80px 80px -40px #B3A369, /* gradient */
		0px 1px 0px rgba(255,255,255,0.25); /* shadow */

	-webkit-transition: 50ms linear;
	   -moz-transition: 50ms linear;
	     -o-transition: 50ms linear;
	        transition: 50ms linear;
}

.buttons-container h3{
    margin-left: 30px;
}

.button a{
    text-decoration: none;
    color:black;
    font-weight: bolder;
}

.button a:hover{
    color: #2f2f2f;
}

.button:hover{
    background-color: grey;
}

i{
    width: 70px;
    transition: transform ease 400ms;
}

i:hover{
    transform: translate(0, 10px);
}




.auto-type{
    color: grey;
}

@media only screen and (max-width: 600px) {
    .main h1{
        font-size: 26px;
    }

    .main h2{
        font-size: 24px;
    }

    .buttons-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        left: 0;
        padding: 11px;
    }
    .button {
        margin-bottom: 10px;
        background-color: rgba(128, 128, 128, 0.756);
        border-radius: 13%;
        width: 123px;
        height: 38.5px;
    }
    a button{
        font-size: 10px;
        text-decoration: none;
        color:black;
    }
    .buttons-container h3{
        font-size: smaller;
        margin-left: 25px;
    }
}
